@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

#home {
    background-image: url("/img/bg.jpg");
    height: 560px;
    width: 1363px;
    background-size: cover;
}

#bg {
    background: black;
}

#basic {
    background: saddlebrown;
}

.warna {
    background: saddlebrown;
}

.font {
    color: white;
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
}

.font:hover {
    color: white;
}

.fontmenu {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.fontmenu:hover {
    color: white;
}

.art {
    color: white;
    margin: 9rem 12rem;
    font-size: 60px;
}

#card {
    background: black;
    border-radius: none;
    height: 150px;
    width: 150px;
    margin-left: 6rem;
}

ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}


#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: saddlebrown;
    padding: 0;
}

.sidebar-expanded {
    width: 200px;
}

.sidebar-collapsed {
    width: 60px;
}

#sidebar-container .list-group a {
    height: 90px;
    color: white;
    font-size: 25px;
    padding-left: 2.5rem;
    padding-top: 1rem;
}

.list-group-item:hover {
    background: black;
}

#ss {
    background: black;
    border-radius: none;
    height: 150px;
    width: 150px;
}

#bg2 {
    background: black;
    text-decoration: none;
}
