@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

#home {
    background-image: url("/img/bg.jpg");
    height: 560px;
    width: 1363px;
    background-size: cover;
}

#bg {
    background: black;
}

#basic {
    background: saddlebrown;
}

.warna {
    background: saddlebrown;
}

.font {
    color: white;
    font-size: 25px;
    padding: 15px;
    text-decoration: none;
}

.font1 {
    color: white;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
}

.font:hover {
    color: white;
}

.fontmenu {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.fontmenu:hover {
    color: white;
}

.art {
    color: white;
    margin: 9rem 12rem;
    font-size: 60px;
}

#card {
    background: black;
    border-radius: none;
    height: 150px;
    width: 150px;
    margin-left: 6rem;
}

ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: saddlebrown;
    padding: 0;
}

.sidebar-expanded {
    width: 200px;
}

.sidebar-collapsed {
    width: 60px;
}

#sidebar-container .list-group a {
    height: 90px;
    color: white;
    font-size: 25px;
    padding-left: 2.5rem;
    padding-top: 1rem;
}

.list-group-item:hover {
    background: Peru;
}

#ss {
    background: black;
    border-radius: none;
    height: 150px;
    width: 150px;
}

#bg2 {
    background: black;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: saddlebrown;
}

.isi-dropdown a {
    color: white !important;
}

.isi-dropdown a:hover {
    color: white !important;
    background: black !important;
}

#navigasi {
    position: relative;
    line-height: 8px 8px;
    margin: 0;
    padding: 0;
}

#navigasi a {
    display: block;
    padding: 8px;
    color: #fff;
}

#navigasi a:hover {
    background-color: black;
    color: #fff;
}

#navigasi li {
    position: relative;
    float: left;
}

#navigasi ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
}

#navigasi li ul a {
    width: 12em;
    height: auto;
    float: left;
}

#navigasi li:hover ul {
    display: block;
}

#navigasi li:hover ul ul {
    display: none;
}

.inputan {
    outline: none;
    background: black;
    padding: 6px 8px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid #E39264;
    height: 35px;
    width: 280px;
    color : white;
   
}

.labelan {
    font-family: "Roboto-slab", sans-serif;
    font-size: 13pt;
    color: #E39264;
    margin-top: 15px;
    
}


#submit-btn {
    background: black;
    border: 2px solid #E39264;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: "Roboto", sans-serif;
    height: 42.3px;
    margin-top: 3rem;
    width: 153px;
}

#submit-btn:hover {
    box-shadow: 0px 1px 18px saddlebrown;
}

.garis {
    width: 1360px;
     height: 10px;
     margin-top: 30px;
     background-color: saddlebrown;
}

.font2 {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-top : 2rem;
}

.oval {
    width: 180px;
     height: 50px;
     border-radius: 30px;
     background-color: saddlebrown;
     color : white; 
     font-size : 25px;
    margin-top : 10px;
}